body {
    background: linear-gradient(#000000, #132135);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: #EEE;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2em;
}

nav li a {
    text-decoration: none;
    color: inherit;
}

.series-list {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
